<a href="https://colab.research.google.com/github/paul6598/PS_practice/blob/main/240426.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
input = sys.stdin.readline

In [2]:
n = int(input())
table = []
for _ in range(n):
  table.append(list(map(int, input().split())))

for k in range(n):
  for i in range(n):
    for j in range(n):
      if table[i][k] == 1 and table[k][j] == 1:
        table[i][j] = 1

for i in range(n):
  for j in range(n):
    print(table[i][j], end = " ")
  print("")

7
0 0 0 1 0 0 0
0 0 0 0 0 0 1
0 0 0 0 0 0 0
0 0 0 0 1 1 0
1 0 0 0 0 0 0
0 0 0 0 0 0 1
0 0 1 0 0 0 0
1 0 1 1 1 1 1
0 0 1 0 0 0 1
0 0 0 0 0 0 0
1 0 1 1 1 1 1
1 0 1 1 1 1 1
0 0 1 0 0 0 1
0 0 1 0 0 0 0

In [7]:
n,m = map(int,input().split())
table = []
for _ in range(n):
  table.append(list(map(int, input().split())))

accsum = [[0]*(n+1) for _ in range(n+1)]
for i in range(1,n+1):
  for j in range(1,n+1):
    accsum[i][j] = accsum[i-1][j]+accsum[i][j-1]-accsum[i-1][j-1]+table[i-1][j-1]

for _ in range(m):
  y1,x1,y2,x2 = map(int,input().split())
  print(accsum[y2][x2]-accsum[y2][x1-1]-accsum[y1-1][x2]+accsum[y1-1][x1-1])

4 3
1 2 3 4
2 3 4 5
3 4 5 6
4 5 6 7
2 2 3 4
27
3 4 3 4
6
1 1 4 4
64

In [23]:
n = int(input())
table = []
for _ in range(n):
  table.append(list(map(int, input().split())))

dp = [[[0]*(n+1) for _ in range(n+1)] for _ in range(3)] #dp[0] 가로, dp[1] 대각선, dp[2] 세로

for i in range(2,n+1):
  if table[0][i-1] == 1:
    break
  dp[0][1][i] = 1

for i in range(2,n+1):
  for j in range(1,n+1):
    if table[i-1][j-1] != 1:
      dp[0][i][j] = dp[1][i][j-1]+dp[0][i][j-1]
      dp[2][i][j] = dp[1][i-1][j]+dp[2][i-1][j]
      if table[i-2][j-1] != 1 and table[i-1][j-2] != 1:
        dp[1][i][j] = dp[0][i-1][j-1]+dp[1][i-1][j-1]+dp[2][i-1][j-1]

print(sum([dp[i][-1][-1] for i in range(3)]))

22
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
4345413252