<a href="https://colab.research.google.com/github/paul6598/PS_practice/blob/main/240821.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
n,k = map(int, input().split())

coins = []
for _ in range(n):
  val = int(input())
  if val <= k:
    coins.append(val)

n = len(coins)
coins.sort()

dp = [[0]*(n) for _ in range(k+1)]

for i in range(n):
  dp[coins[i]][i] = 1

#dp[i][j] = j번째 가치를 지닌 동전 이하만 사용하고 가치가 i인 경우의 수
#>>dp[i-coins[j]][0~j]
for i in range(1,k+1):
  for j in range(n):
    dp[i][j] += sum([dp[i-coins[j]][k] for k in range(j+1)])


print(sum(dp[-1]))

3 10
1
2
5
10

In [31]:
n,k = map(int, input().split())

coins = []
for _ in range(n):
  val = int(input())
  if val <= k:
    coins.append(val)

n = len(coins)
coins.sort()

dp = [0 for _ in range(k+1)]
dp[0] = 1

for i in range(n):
  #print(dp)
  for j in range(1,k+1):
    if j >= coins[i]:
      dp[j] += dp[j-coins[i]]
  #print(dp)
print(dp[-1])

3 10
1
2
5
1
6
10

In [32]:
n = int(input())
for i in range(1,n+1):
  print(f"Hello World, Judge {i}!")

5
Hello World, Judge 1!
Hello World, Judge 2!
Hello World, Judge 3!
Hello World, Judge 4!
Hello World, Judge 5!

In [54]:
today = list(map(int,input().split()))
dday = list(map(int,input().split()))

#print(today, dday)
def years(year):
  if (year%4==0 and year%100 != 0) or year%400==0:
    return True
  else:
    return False

def date(day):
  #print(day)
  ret = 0
  month = [31,28,31,30,31,30,31,31,30,31,30,31]
  y,m,d = day[0],day[1],day[2]
  for i in range(m-1):
    if i == 1 and years(y):
      ret += 29
    elif i == 1 and not years(y):
      ret += 28
    else:
      ret += month[i]
  ret += d
  return ret


if dday[0]-today[0] > 1000or(dday[0]-today[0] == 1000 and date(dday)>=date(today)):
  print("gg")
else:
  res = date(dday)
  for i in range(dday[0]-1,today[0]-1,-1): #2009 2008
    if years(i):
      res += 366
    else:
      res += 365
  res -= date(today)
  print(f"D-{res}")

1 12 13
9999 11 12
gg

In [56]:
from collections import defaultdict

n = int(input())
kids = defaultdict(int)
sum_ = 0
warn = 0
for _ in range(n):
  kid = input()
  if sum_ - kids[kid] < kids[kid]:
    warn += 1
  kids[kid] += 1
  sum_ += 1
print(warn)

17
a
b
b
a
a
a
c
a
b
b
c
b
b
b
b
b
b

In [58]:
a,b,c,d = map(int, input().split())
n = int(input())

def sol(a,b,c,d,u,v):
  if a*(b-v)**2+c == u and b <= v:
    return True
  else:
    return False

res = 0
for _ in range(n):
  u,v = map(int,input().split())
  if sol(a,b,c,d,u,v):
    res += 1

print(res)

-1 50 10 6
4
10 50
10 52
9 51
9 50
2

In [65]:
def dist(x,y):
  return x**2+y**2

fishing = []
n,k = map(int, input().split())
for _ in range(n):
  pi = int(input())
  dots = list(map(int, input().split()))
  mxd = 0
  for i in range(pi):
    mxd = max(mxd, dist(dots[2*i],dots[2*i+1]))
  fishing.append(mxd)

fishing.sort()
print(format(fishing[k-1],'.2f'))

1 1
4
1 1 1 2 2 2 2 1
8.00

In [76]:
from collections import defaultdict
dic = defaultdict(int)

fellin = ""

name = input()
name = sorted(name)

for i in range(len(name)):
  dic[name[i]] += 1

odd = -1
tf = False

for i in dic:
  if dic[i]%2 == 1:
    if tf:
      fellin = "I'm Sorry Hansoo"
      break
    odd = i
    tf = True

if fellin == "I'm Sorry Hansoo":
  print(fellin)
else:
  for i in dic:
    fellin += i*(dic[i]//2)
  rev = fellin[::-1]
  if odd != -1:
    fellin += odd
  fellin += rev
  print(fellin)

ABCD
I'm Sorry Hansoo

In [71]:
rev

'BA'

In [74]:
a = "abdc"
a.sort()
a

AttributeError: 'str' object has no attribute 'sort'

In [81]:
n = int(input())
num = list(map(int,input().split()))
res = []
num = num[::-1]
for i in range(n):
  res.insert(num[i],n-i)
print(*res)

4
2 1 1 0
4 2 1 3